
<div class="large-4 columns">
	This will hold the information for the lesson.
	
	<marked>
  ### Markdown directive
  *It works!*
  ** Bold **
  ```
  var x = 8;
  ```
</marked>

</div>
<div class="large-8 columns">
	<div class="text-editor" ui-ace="{ theme:'twilight',
				   mode: 'javascript',
	               onLoad: lesson.editorLoaded }"></div>

	<div class="large-12 columns bottom-editor-bar">
		<button ng-click="lesson.runCode()" class="button" id="run-code-button">Run Code</button>
	</div>
</div>
<div class="console-window">
	<ul>
		<li ng-repeat="message in lesson.consoleMessages track by $index"> {{ message }}</li>
	</ul>
</div>
