
.text-editor{
	height: calc(~"100vh" - 106px); // This is a hack to make it work. 
	width: 100%;	
}
.lesson-content{
	height: calc(~"100vh" - 106px);
	overflow-y: scroll;
	width: 100%;
}
.bottom-editor-bar{
	padding-left: 43px; 
	height: 52px; 
	width: 100%; 
	background-color: #232323;
}
#run-code-button{
	margin-top: 5px;
	margin-left: 28px;
}

.console-window{
	position: fixed; 
	width: 400px; 
	height: 300px; 
	background-color: white; 
	right: 25px; 
	border-radius: 5px;
	top: 65px;
	ul{
		list-style-type: none;
		margin-top: 25px;
		padding-left: 0px;
		.green-text{
			color: green;
		}
	}
	li{
		margin-left: -15px;
	}
	.header{
		padding-left: 5px; 
		padding-top: 3px;
		color: #979797;

		background-color: #F1F1F1;
		position: fixed;
		width: 400px;
	}
	z-index: 100;
	overflow-y: scroll;
}

body{
	overflow-y: hidden;
}
div.editor{
	padding-left: 0px !important;
	padding-right: 0px !important;
}