
@editor-bg: #232323;
@console-success-bg: #C1E1A6;
@console-failure-bg: #F36A6A;
@light-grey-bg: #D9D9D9;
.text-editor{
	height: calc(~"100vh" - 106px); // This is a hack to make it work. 
	width: 100%;	
}

.lesson-content{
	height: calc(~"100vh" - 106px);
	overflow-y: scroll;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
.bottom-bar{
	height: 52px;
	width: 100%;
	background-color: @light-grey-bg;
}
.bottom-editor-bar{
	padding-left: 43px; 
	height: 52px; 
	width: 100%; 
	background-color: @editor-bg;
}
#run-code-button{
	margin-top: 5px;
	margin-left: 28px;
}

.console-window{
	width: 100%;
	background-color: white; 
	
	height: calc(~"100vh" - 106px); ;
	
	ul{
		list-style-type: none;
		
		padding-left: 0px;

		
		width: 100%;
	}
	
	.header{
		padding-left: 10px; 
		padding-top: 6px;
		color: #979797;
		background-color: @light-grey-bg;
		width: 100%;
		height: 35px;

	}

	.output{
		
		ul li{
			width: 100%;
			padding-left: 10px;
			margin-left: -20px;
			padding-top: 5px;
			padding-bottom: 5px;
			border-top: 1px solid #C7C5C5;
		}
		li:last-child{
			border-bottom: 1px solid #C7C5C5;
		}
		.success {
			background-color: @console-success-bg;
			span {
				color: green;
			}
		}
		.failure {
			background-color: @console-failure-bg;
			span {
				color: red;
			}
		}
		
	}

	overflow-y: scroll;
	overflow-x: hidden;
}

body{
	overflow-y: hidden;
}
div.editor{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
div.right-panel{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.lower-left-panel{
	background-color: @light-grey-bg;
	width: 100%;

}
.no-pad{
	padding: 0 0 0 0 !important;
}